<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Flipkart Test Suite">
<test name="Login Page Test Case">
<classes>
<class name="testCases.Login_Test_Cases">
</class>
</classes>
</test>

<test name="Search Tset Cases">
<classes>
<class name="testCases.SearchAsusTufGaming">
</class>
</classes>
</test>





</suite>